aniso8601==4.1.0
boto==2.49.0
boto3==1.9.80
botocore==1.12.80
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.7
Flask-MySQL==1.4.0
Flask-RESTful==0.3.7
Flask-S3==0.3.3
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
mysql==0.0.2
mysqlclient==1.3.14
PyMySQL==0.9.3
python-dateutil==2.7.5
pytz==2018.9
redis==3.0.1
s3transfer==0.1.13
six==1.12.0
SQLAlchemy==1.2.16
urllib3==1.24.1
Werkzeug==0.15.5
nltk==3.3
pandas==0.23.0
scikit-learn==0.19.1
numpy==1.14.3
scipy==1.1.0